<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @author Hgati Team
 * @copyright Copyright (c) 2021 Hgati
 * @package Hgati_Webp
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Hgati\Webp\Logger\Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
            <argument name="fileName" xsi:type="string">/var/log/hgati/webp.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Hgati\Webp\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">Hgati_Webp Logger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Hgati\Webp\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Hgati\Webp\Helper\Converter">
        <arguments>
            <argument name="logger" xsi:type="object">Hgati\Webp\Logger</argument>
        </arguments>
    </type>
    <type name="Hgati\Webp\Helper\Image">
        <arguments>
            <argument name="logger" xsi:type="object">Hgati\Webp\Logger</argument>
        </arguments>
    </type>
    <type name="Hgati\Webp\Helper\Process">
        <arguments>
            <argument name="logger" xsi:type="object">Hgati\Webp\Logger</argument>
        </arguments>
    </type>
</config>
