<?xml version="1.0"?>
<!--
/**
 * @author Hgati Team
 * @copyright Copyright (c) 2021 Hgati
 * @package Hgati_Webp
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\Image">
        <plugin name="Hgati_Webp::Block_Image" type="Hgati\Webp\Plugin\Block\Product\Image"/>
    </type>
    <type name="Magento\Catalog\Block\Product\View\Gallery">
        <plugin name="Hgati_Webp::Block_Gallery" type="Hgati\Webp\Plugin\Block\Product\View\Gallery"/>
    </type>
    <type name="Magento\Checkout\CustomerData\AbstractItem">
        <plugin name="Hgati_Webp::CustomerData_AbstractItem"
                type="Hgati\Webp\Plugin\CustomerData\AbstractItem"/>
    </type>
</config>
