<?xml version="1.0"?>
<!--
/**
 * @author Hgati Team
 * @copyright Copyright (c) 2021 Hgati
 * @package Hgati_Webp
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Hgati_Webp::webp"
             title="Hgati Webp"
             module="Magento_Backend"
             sortOrder="30"
             parent="Magento_Backend::content"
             resource="Hgati_Webp::webp"/>

        <add id="Hgati_Webp::convert"
             title="Conversion"
             module="Hgati_Webp"
             sortOrder="10"
             parent="Hgati_Webp::webp"
             action="hgati_webp/conversion"
             resource="Hgati_Webp::convert"/>
    </menu>
</config>
