<?xml version="1.0"?>
<!--
/**
 * @author Hgati Team
 * @copyright Copyright (c) 2021 Hgati
 * @package Hgati_Webp
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="hgati_webp" frontName="hgati_webp">
            <module name="Hgati_Webp"/>
        </route>
    </router>
</config>
